html {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar {
	margin-bottom: 0;
}

#map {
	width:100%;
	height:100%;
}

.mapContainer {
    width:100%;
    /*left: 0;
    right: 50px;*/
}

.mapContainer {
    margin-bottom:51px;
    display:block;
    position:absolute;
    bottom:0;
    top:0;
}

#sidebar {
	width: 50px;
	right: 0;
	bottom: 0;
	z-index: 1000000;
	position: absolute;
	background-color: #fff;
}

#layerSwitcher .layers {
  width: 295px;
	padding:15px;
}

#layerSwitcher .layers ul {
		padding:0;
}

#layerSwitcher .layers li {
	width: 85px;
	display: inline-block;
	text-align: center;
}

#layerSwitcher .layers li .title {
    font-size: 0.9em;
		display: block;
}

#layerSwitcher .layers img {
	border: 1px solid #D0D0D0;
  padding: 4px;
  border-radius: 4px;
}

#layerSwitcher .layers img.active {
	background-color: #A3D1FF;
}

#layerSwitcher .layerTransparency {
	width:295px;
	padding:15px;
}

#layerSwitcher .layerTransparency ul {
		padding:0;
		list-style:none;
}

#layerSwitcher .layerTransparency ul li, #layerSwitcher .layerTransparency ul li input  {
	width:100%;
}

#layerSwitcher .layerTransparency ul li .title {
	display:block;
	margin-top:15px;
}

#layerSwitcher .layerTransparency ul li label {
	font-size:0.8em;
	font-weight:normal;
	margin-bottom:0;
	margin-top:2px;
}

.timelineContainer {
    background-color:#fff;
    width:100%;
    margin-bottom:51px;
    top:0;
    bottom:0;
    left:0;
    height:0;
    position:absolute;
    z-index: 15;
    text-align: center;
    overflow:auto;
}

ul.vertButtons {
    list-style:none;
    padding: 0;
    margin: 0;
		overflow:hidden;
}

.vertButtons li {
    display:block;
    height:50px;
    border-bottom:1px solid #eee;
    border-top:1px solid #ddd;
    text-align:center;
    color: #555;
    font-size: 13px;
		padding-top:7px;
}

.vertButtons li:hover {
    opacity:0.6;
}

.vertButtons span, .vertButtons i {
    font-size: 22px;
    line-height:22px;
    display: block;
    text-align: center;
    margin:auto;
    color: #555555;
}

.vertButtons li.active, .vertButtons li.active .glyphicon {
    color:#54A8CF;
}

.vertButtons .glyphicons {
    font-size:22px;
}

.zoneBtn, .zoneBtn span {
	color:#333 !important;
}

.zoneBtns, #mapControls {
    display:none;
}

#weedSpecies {
    min-width:150px;
}

.console {
    font-family:"Lucida Console", Monaco, monospace;
    font-size:10px;
    width:580px;
    height:300px;
    padding:5px;
    overflow-y:scroll;
}

.consdebug {
    color:#BBB;
}

.conswarning {
    color:#C97800;
}

.conserror, .conscritical  {
    color:#E40606;
}

.conscritical {
    font-weight:bold;
}

.consoleDate {
    font-size:0.9em;
    font-style:italic;
}

.nodeStats {
    background-color:#eee;
    width:100%;
    font-size:18px;
    padding:10px 0;
    color:#666;
}

.nodeStats .info {
    list-style: none;
    margin:0;
    padding:0;
}

.nodeStats .info li {
    width:85px;
    display:inline-block;
    text-align:center;
    overflow:hidden;
}

.nodeStats .info li .subText {
    font-size:10px;
    display:block;
    text-align:center;
}




.clr{
    clear:both;
    border:0;
    height:0 !important;
}

.statsOverlay {
    position:absolute;
    right:80;
    top:80;
    font-size:32px;
    line-height:1em;
    font-weight:bold;
    color:#fff;
		pointer-events:none;
}

.statsOverlay .descriptor {
    font-size:0.5em;
    font-weight:normal;
    line-height:1.1em;
}

.statsOverlay > div {
    padding-top:10px;
    text-align:center;
}




#timeline {
    margin-right: 50px;
    position:fixed;
    bottom:0;
    z-index: 10;
    padding: 3px 0;
    background-color:#fff;
    left:0;
    right:0;
		padding-bottom: 60px;
}

#timeline .slider {
    width:100% !important;

}

#timeSlider {
    width:100%;
}

a#playback {
    font-size:18px;
    display:block;
    float:left;
    color:#000;
    margin-left:15px;
}

#slideContainer {
    display:block;
    margin:0 30px 0 50px;
}






#mapControls div {
    height:50px;
}







/* Ajax Loading Indicator
-------------------------------------------------- */
.ajax-loader {
    background-image: url("/assets/img/ajax-loader.gif");
    background-repeate: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}


/* OpenLayers Twitter Bootstrap Hacks
-------------------------------------------------- */
/*#map-canvas img {
    max-width: none;
}

#map-canvas .olControlAttribution {
    bottom: 0px;
}*/
