
.container {

}

ul.projects {
	list-style: none;
}

ul.projects .item {
	display: inline-block;
	margin-bottom:4px;
}

ul.projects .item a {
	display:block;
	width:150px;
	height:150px;
	border:1px solid #eee;
	border-radius:3px;
	text-align:center;
	position:relative;
}

ul.projects .item a:hover {
	background-color:#eee;
	border:1px solid #aaa;
}

ul.projects .item img{
	display:block;
	margin:10px auto;
	height:90px;
}

ul.projects .newItem img{
	opacity:0.2;
}

ul.projects .item .projectTitle {
	text-align:center;
	display:block;
	font-size:14px;
	color:#666;
	position:absolute;
	bottom:10px;
	width:100%;
}