

.minorPoint, .majorPoint {
	/*opacity:0.1;*/
	fill:#1C55CC;
	stroke:none;
}

.minorPoint:hover, .clickTarget:hover .minorPoint, .clickTarget:hover .majorPoint {
	fill:#80A1E4;
}	

.majorPoint {
}

/*rect, line, circle {
	pointer-events:none;
}*/

.rowHover {
	pointer-events:auto;
}

.rowHover:hover {
	fill:#eee;
}

.clickTarget {
	/*opacity:0;*/
	pointer-events:all;
}

.clickTarget rect {
	opacity:0;
}
