.zonePath {
	stroke-width:3;
}

.zone_IC_path {
	stroke:#1F60E9;
	fill:#1F60E9;
}

.zone_P_path {
	stroke:#FF9100;
	fill:#FF9100;
}

.zone_AP_path {
	stroke:#E00;
	fill:#E00;
}

.zone_D_path {
	stroke:#EEC800;
	fill:#EEC800;
}

.zone_R_path {
	stroke:#0CB655;
	fill:#0e6;
}

.zone_C_path {
	stroke:#FF6A8E;
	fill:#FF6A8E;
}

.zone_hidden {
	display:none;
}
