#Czone, #ICzone, #Pzone, #APzone , #Dzone , #Rzone {
	overflow:hidden;
}

#ICzone {
	background-color:#3877D8;
}

#Pzone {
	background-color:#F9A404;
}

#APzone {
	background-color:#ff2800;
}

#Dzone {
	background-color:#ffe573;
}

#Rzone {
	background-color:#00BB3F;
}

#Czone {
	background-color:#FF8973;
}
